/*默认初始化样式*/
body{
    margin:0;padding:0;font-size:"微软雅黑";box-sizing: border-box;
}

body,html{
    text-size-adjust: none;/*文本不会随着设备尺寸的变化而变化*/
    width:100%;
    height:100%;
}

*{text-decoration: none;list-style:none;}

img{border:0px;}